<%= turbo_frame_tag :components do %>
  <%= render 'dashboard/sidebar' %>
  <div class="flex flex-wrap items-center mb-3.5 -m-2">
    <div class="w-auto p-2">
      <p class="text-neutral-500 font-medium">Button Component</p>
    </div>
  </div>
  <%= tag.pre class: 'mb-8' do %>
    Sender System::AttributesComponent.new(cols: 4, items: [
      {
        label: "Gender",
        value: "Male"
      },
      {
        label: "DOB",
        value: l(Date.current)
      },
      {
        label: "Phone",
        value: number_to_phone(1234567890)
      },
      {
        label: "Email",
        value: "User@mail.com"
      },
    ])
  <% end %>
  <%= tag.div class: 'mb-3' do %>
    <%= render System::AttributesComponent.new(cols: 4, items: [
      {
        label: "Gender",
        value: "Male"
      },
      {
        label: "DOB",
        value: l(Date.current)
      },
      {
        label: "Phone",
        value: number_to_phone(1234567890)
      },
      {
        label: "Email",
        value: "User@mail.com"
      },
    ]) %>
  <% end %>
<% end %>


